.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 61px;
	padding: 9px;
	margin: 6px;
	border-radius: 5px;
	background-color: #250b38;
}

.select {
	height: 40px;
	width: 170px;
	border-radius: 5px;
	color: #52526a;
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
}

.select>option {
	height: 34px;
	width: 298px;
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
}

@media screen and (min-width: 700px) {
	.container {
		min-width: 408px
	}
}